<h1>New question</h1>

<% form_for(@question, :action => 'create') do |f| %>
  	<%= render(:partial => "form" , :object => f) %>
<% end %>

<%= link_to 'Back', :controller => "lessons", :action => "show", :id => @question.lesson %>