<div id="msgDiv" style="color: green; font-size: 16pt;">Correct</div>
<div id="qDiv" style="color: green; font-size: 21pt; padding-top: 20px;"><%= correct.first_answer.text%></div>
<br>
<br>
<table align="center">
	<tr>
		<td>
			<% form_remote_tag :url => {:action => 'correct'}, :before => "showWaitDiv();", 
											:complete => "hideWaitDiv();" do %>
				<%= submit_tag "Next [Enter]", :id => 'nextButton' %>
			<% end -%>				
		</td>
		<td>
			<% form_remote_tag :url => {:action => 'wrong'}, :before => "showWaitDiv();", 
											:complete => "hideWaitDiv();" do %>
				<%= submit_tag "I don't know [w]", :id => 'wrongButton' %>
			<% end %>							
		</td>
		<td>
			<% form_remote_tag :url => {:action => 'onlyRepetitions'}, :before => "showWaitDiv();", 
											:complete => "hideWaitDiv();" do %>
				<%= submit_tag "Only repetitions [r]", :id => 'repetitionsButton' %>
			<% end -%>				
		</td>
	</tr>
</table>
