body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  border: 1px solid red;
  padding: 3px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
}

#errorExplanation p {
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

table.dblist{
}

table.dblist tr{
	
}

table.dblist tr th{
	background: #0070CA;
	color: white;
	border: 1px solid black;
	padding: 2px 10px 2px 10px;
}

table.dblist tr td{
	background-color: white;
	border: 1px solid gray;
}

table.dblist tr td.right{
	background-color: white;
	border: 1px solid gray;
	text-align: right;
}

table.dbdetails{
}

table.dbdetails tr{
	
}

table.dbdetails tr th{
	background: #0070CA;
	color: white;
	border: 1px solid black;
	text-align: left;
	padding: 2px 10px 2px 10px;
}

table.dbdetails tr td{
	background-color: white;
	border: 1px solid gray;
}

table.dbdetails tr td.right{
	background-color: white;
	border: 1px solid gray;
	text-align: right;
}

table.form{
}

table.form tr{
	
}

table.form tr th{
	background: #0070CA;
	color: white;
	border: 1px solid black;
	text-align: left;
	padding: 2px 10px 2px 10px;
}

table.form tr td{
	background-color: white;
}

div.title{
	background: #0E0047;
	color: white;
	border: 1px solid black;
	padding: 10px 10px 10px 10px;
	
	font-family: monospace;
	font-size: 20pt;
	font-weight: bold;
}

div.title_small{
	background: #0E0047;
	color: white;
	border: 1px solid black;
	padding: 3px 3px 3px 3px;
	
	font-family: monospace;
	font-size: 12pt;
}
