<table class="dblist" style="width: 100%;">
	<tr>
		<th>Name:</th>
		<th>Description:</th>
		<th>Learning schema:</th>
	</tr>
	<tr>
		<td><b><%=h lesson.name %></b></td>
		<td><%=h lesson.description %></td>
		<td><%=h lesson.learning_schema.name %></td>
	</tr>
</table>
