<p>
  <b>Name:</b>
  <%=h @learning_schema.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @learning_schema.description %>
</p>


<%= link_to 'Edit', edit_learning_schema_path(@learning_schema) %> |
<%= link_to 'Back', learning_schemas_path %>